body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
}

.nav-bar > h1 {
    font-size: 1.8rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 0.9rem;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.nav-links > button {
    padding: 15px 25px;
    background-color: rgb(43, 182, 78);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.nav-links > button:hover {
    background-color: rgba(43, 182, 78, 0.932);
}

.menu-bar {
    display: none;
}

/* Hero */
header {
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: space-evenly;
    padding: 30px 10px;
}

.hero-section {
    place-content: center;
}

.hero-section > h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #333;
}

.hero-section > h1 > span {
    color: rgb(43, 182, 78);
}

.hero-section > p {
    color: #7a7a7a;
    font-size: 0.8rem;
    margin-bottom: 35px;
    margin-top: 10px;
}

.hero-section > button {
    background-color: rgb(43, 182, 78);
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.hero-section > button:hover {
    background-color: rgba(43, 182, 78, 0.932);
}


/* client section */
.clients{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #fff;
    padding: 30px 0;
}

.clients > h1 {
    color: #1d1d1d;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.clients > p {
    color: #7a7a7a;
    font-size: 0.9rem;
    margin: 15px 0;
    text-align: center;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    /* background-color: rebeccapurple; */
}

.logos > img {
    width: 45px;
    height: 40px;
}

/* community */
.community-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px 15px;
    margin-top: 20px;
}

.community-section > h1 {
    text-align: center;
    color: #1d1d1d;
    font-size: 2rem;
    font-weight: 500;
}

.community-section > p {
    text-align: center;
    color: #7a7a7a;
    margin-top: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 50px;
}

.icons > div {
    /* background-color: #ddd; */
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 4px 2px rgba(34, 34, 34, 0.151);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.icons > div:hover {
    transform: scale(1.05);
}

.icons > div > span {
    color: rgb(43, 182, 78);
    font-size: 2.5rem;
}

.icons > div > h4 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.icons > div > p {
    font-size: 0.8rem;
}

/* --------------------------------------------------- */
.learnMore-section {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.learnMore-section > img {
    width: 300px;
    object-fit: cover;
}

.learnMoreContent {
    max-width: 600px;
}

.learnMoreContent > h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.learnMoreContent > p {
    font-size: 0.9rem;
    text-align: justify;
    margin-bottom: 20px;
}

.learnMore-btn {
    background-color: rgb(43, 182, 78);
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.learnMore-btn:hover {
    background-color: rgba(43, 182, 78, 0.932);
}

/* -------------HELPING SECTION------------------ */

.helpingSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 20px;
    background-color: rgb(241, 241, 241);
    padding: 50px 40px;
}

.helpingHeading > h1 {
    font-size: 2rem;
    font-weight: 600;
}

.helpingHeading > h1 > span {
    color: rgb(43, 182, 78);
}

.helpingHeading > p {
    font-size: 0.8rem;
}

.helpedContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
}

.status {
    display: flex;
    align-items: center;
    gap: 16px;
}

.status > span {
    color: rgb(43, 182, 78);
    font-size: 2.2rem;
}

.status > div > h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.status > div > p {
    font-size: 0.9rem;
}

@media (max-width: 400px) {
    .helpingHeading > h1 {
        font-size: 1.5rem;
    }

    .helpingHeading >p {
        font-size: 0.7rem;
    }
    .helpedContainer {
        grid-template-columns: 1fr;
    }
}


/* -------------Learn more section 2--------------- */
.learnMore-section2 {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.learnMore-section > img {
    width: 300px;
    object-fit: cover;
}

.learnMoreContent {
    max-width: 600px;
}

.learnMoreContent > h1 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.learnMoreContent > p {
    font-size: 0.9rem;
    text-align: justify;
    margin-bottom: 20px;
}

.learnMore-btn {
    background-color: rgb(43, 182, 78);
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 900px) {
    .learnMore-section2 {
        flex-direction: column;
    }
}

.customerSection {
    background-color: rgb(241, 241, 241);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.customerSection > img {
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.customerContent {
    max-width: 600px;
}

.customerContent > p {
    font-size: 0.9rem;
    text-align: justify;
}

.lowerContent {
    display: flex;
    flex-direction: column;
}

.lowerContent > h1 {
    color: rgb(43, 182, 78);
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 14px;
}

.lowerContent > p {
    font-size: 0.7rem;
    color: #7a7a7a;
    margin-top: 8px;
}

.customerIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.customerIcons > h3 {
    color: rgb(43, 182, 78);
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 900px) {
    .customerSection {
        flex-direction: column;
    }

    .customerContent > p {
    font-size: 0.5rem;
    text-align: justify;
}
}

@media (max-width: 600px) {
    .customerIcons > h3{
        font-size: 0.6rem;
    }
}

/* ---- MARKETING SECTING--------- */
.marketingSection {
    padding: 20px 50px;
}

.marketingSection > h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

.marketingSection > p {
    font-size: 0.9rem;
    margin: 15px auto 20px;
    text-align: center;
    max-width: 800px;
    color: #7a7a7a;
}

.marketingContents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.contentContainer {
    max-width: 350px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.contentContainer:hover {
    transform: scale(1.05);
}

.contentContainer > img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.content {
    position: relative;
    margin: -60px 15px 0;
    z-index: 1;
    text-align: center;
    background-color: #ececec;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(51, 51, 51, 0.522);
}

.content > p {
    font-size: 0.9rem;
}

.content > h3 {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(43, 182, 78);
}

@media (max-width: 1050px) {
    .contentContainer {
        max-width: 250px;
    }

    .content > p {
        font-size: 0.6rem;
    }

    .content > h3 {
        font-size: 0.5rem;
    }
}

@media (max-width: 880px) {
    .marketingContents {
        flex-direction: column;
    }
}

/* ----------- FOOTER -------------------- */
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(43, 182, 78);
    padding: 15px 20px;
}

.left-pane {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
}

.contactCard {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 20px;
    cursor: pointer;
}

.contactCard > i {
    font-size: 1rem;
    background-color: rgba(149, 250, 174, 0.863);
    color: rgb(27, 133, 53);
    padding: 10px;
    border-radius: 50%;
}

.location {
    font-size: 0.8rem;
    color: #2d3a25;
}

.city {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(2, 53, 15);
}

.contactCard > div > a {
    text-decoration: none;
    font-weight: 500;
    color: rgba(49, 49, 243, 0.884);
}

.right-pane {
    max-width: 350px;
}

.right-pane > h4 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(2, 53, 15);
}

.right-pane > p {
    font-size: 0.9rem;
    color: rgb(2, 53, 15);
    margin-bottom: 20px;
}

.socialContacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialContacts > i {
    font-size: 1.3rem;
    color: rgb(2, 53, 15);
    background-color: rgba(149, 250, 174, 0.863);
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.socialContacts > i:hover {
    background-color: rgba(88, 212, 119, 0.801);
}

@media (max-width: 900px) {
    footer {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .right-pane {
        max-width: 250px;
        justify-content: start;
        align-items: start;
    }
}

/* Responsive -------------------------------------*/

@media (max-width: 900px) {
    .nav-links {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    header {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .clients {
        display: flex;
        flex-direction: column;
        margin: 30px 0;
    }

    .logos > img{
        height: 25px;
        width: 25px;
    }

    .icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .icons > div {
        height: 200px;
    }

    .icons > div > h4 {
        font-size: 1.2rem;
    }

    .icons > div > p {
        font-size: 0.5rem;
    }

    .learnMore-section {
        flex-direction: column;
    }

    .learnMore-btn {
        padding: 10px 15px;
    }

    .helpingSection {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .helpingHeading {
        text-align: center;
    }
}

@media (max-width: 500px) {

    .nav-bar > h1 {
        font-size: 1rem;
    }

    .hero-section > h1 {
        font-size: 1.5rem;
    }
    
    .hero-section > p {
        font-size: 0.5rem;
    }

    .hero-section > button {
        padding: 10px 20px;
    }

    header > img {
        margin-top: 30px;
    }

    .community-section > h1 {
        font-size: 1.5rem;
    }

    .community-section > p {
        font-size: 0.7rem;
    }
    .learnMoreContent {
        padding: 5px 10px;
    }
    .learnMoreContent > h1 {
        font-size: 1rem;
    }

    .learnMoreContent > p {
        font-size: 0.5rem;
    }

    .learnMore-section > img {
        height: 200px;
        width: 200px;
    }
}